### Tuple

In [ ]:
tpl=("nikhat","pooja","ankita","nidhi")
print(tpl)

('nikhat', 'pooja', 'ankita', 'nidhi')

In [ ]:
print(tpl[1])

pooja

In [ ]:
print(tpl[-1])

nidhi

In [ ]:
tpl=("nikhat","pooja","ankita","nidhi","ashwini","alisha","spurti")
print(tpl[4:7])

('ashwini', 'alisha', 'spurti')

###  Changw Tuple Values

In [ ]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

### Loop Through a Tuple

In [ ]:
tpl = ("nikhat","pooja","ankita")
for x in tpl:
    print(x)

nikhat
pooja
ankita

### Check if Item Exists

In [ ]:
tpl = ("nikhat","pooja","ankita")
if "nikhat" in tpl:
    print("yes, 'apple' is in the fruits tuple")

yes, 'apple' is in the fruits tuple

### Tuple Length

In [ ]:
tpl = ("nikhat","pooja","ankita")
print(len(tpl))

3

### Add Items

In [ ]:
tpl = ("nikhat","pooja","ankita")
tpl[3]="nidhi"   # this will raise an error
print(tpl)

TypeError: 'tuple' object does not support item assignment

### Create Tuple With One Item

In [ ]:
tpl=("nikhat",)
print(type(tpl))  # not a tuple
tpl=("nikhat")
print(type(tpl))

<class 'str'>
<class 'str'>

### Remove Items

In [ ]:
tpl = ("nikhat","pooja","ankita")
del tpl
print(tpl) # this will raise an error because the tuple no longer exists

NameError: name 'tpl' is not defined

### Join Two Tuples

In [ ]:
tpl1 =("x","y","z")
tpl2=(1,2,3)
tpl3 = tpl1 + tpl2
print(tpl3)

('x', 'y', 'z', 1, 2, 3)

### The tuple() Constructor

In [ ]:
tpl = tuple(("nikhat","pooja","ankita")) # note the double round-brackets
print(tpl)

('nikhat', 'pooja', 'ankita')

### Tuple Methods

##### count() - Returns the number of times a specified value occurs in a tuple
####